.aside {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    min-width: 20rem;
    height: 100vh;
    height: 100dvh;
    background: #0e1120;
    overscroll-behavior: contain;
    position: sticky;
    top: 0;
}
.logo {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    font-family: var(--heading-font-family);
    padding: 1rem;
}
.logo span {
    font-family: inherit;
    color: #9fc0ff;
}
.beta-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
    user-select: none;
}
.beta-divider .divider {
    height: 1px;
    width: 100%;
    background: var(--highlight);
}
.beta-divider span:not(.divider) {
    text-transform: uppercase;
    letter-spacing: .05em;
    color: var(--gray);
}
.account-display-relative {
    position: relative;
}
.account-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
}
.account-display.active {
    background: var(--active) !important;
}
.account-display-nav {
    display: flex;
    flex-direction: column;
    background: var(--hover);
}
.account-display-nav .log-out-of-account {
    border-top: 1px solid var(--highlight);
}
.account-display-nav > * {
    display: flex;
    align-items: center;
    gap: .5rem;
    max-height: 3rem;
    min-height: 3rem;
    width: 100%;
    padding: 0 1rem;
}
.account-display-nav > * > i {
    width: 60px;
    text-align: center;
}
.account-display:hover {
    background: var(--hover);
}
.account-display > div {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.account-display > div > div {
    text-align: left;
}
.account-display img {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.account-display .username {
    font-size: 1rem;
    font-weight: 500;
}
.account-display .account-title {
    color: var(--gray);
}
.account-display > i {
    font-size: .6rem;
}

/* Primary Links */
.primary-links {
    margin-top: 1rem;
}
.primary-links > a {
    display: flex;
    align-items: center;
    gap: .5rem;
    max-height: 3rem;
    min-height: 3rem;
    width: 100%;
    padding: 0 1rem;
}
.primary-links > a.active {
    background: var(--active) !important;
}
.primary-links > a:hover {
    background: var(--hover);
}
.primary-links > a > i {
    width: 60px;
    text-align: center;
}

/* Forms */
.form-blur {
    position: fixed;
    top: 0;
    left: 0;
    background-image: radial-gradient(hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, 1));
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    padding: 1rem;
    display: grid;
    place-items: center;
    z-index: 2;
    border: 5px solid red;
}
.form-blur form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: hsl(230, 38%, 13%);
    padding: 1rem;
    max-width: 30rem;
    width: 100%;
    max-height: 40rem;
    height: 100%;
    border-radius: 20px;
    position: relative;
    overflow: auto;
    overscroll-behavior: contain;
}
.form-blur form > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-blur form h2 {
    text-align: center;
    font-size: 2rem;
}
.form-blur .form-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.form-blur .form-divider > span:not(.label) {
    height: 1px;
    width: 100%;
    background: var(--highlight);
}
.form-blur .form-divider span.label {
    min-width: max-content;
    text-align: center;
    color: var(--gray);
    font-family: var(--heading-font-family);
}
.form-blur .form-divider span.label > span {
    font-family: inherit;
    color: #9fc0ff;
}
.form-blur .close-form {
    display: grid;
    place-items: center;
    background: var(--hover);
    border-radius: 50%;
    max-width: 2rem;
    min-width: 2rem;
    height: 2rem;
}
.form-blur .input-grouping {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.form-blur .input-grouping:nth-child(3) {
    margin-top: 2rem;
}
.form-blur .input-grouping input {
    height: 3rem;
    border-radius: 5px;
    border: none;
    background: var(--hover);
    padding-left: .5rem;
    font-size: 1rem;
}
.form-blur .input-grouping input:focus {
    outline: none;
    box-shadow: 0 2px 0 var(--highlight);
}
.form-blur .input-grouping input::placeholder {
    color: var(--gray);
}
.form-blur .redirect {
    text-align: left;  
    width: fit-content;
    margin-top: auto;
}
.form-blur .redirect > span {
    color: #9fc0ff;
}
.form-blur .redirect:hover > span {
    text-decoration: underline;
}
.form-blur .form-submission {
    background-image: linear-gradient(90deg,#4A00E0, #8E2DE2);
    border-radius: 100vw;
    min-height: 3rem;
}


@media (max-width: 920px) {
    aside {
        display: none !important;
    }
}