.aside {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    min-width: 20rem;
    height: 100vh;
    height: 100dvh;
    background: #0e1120;
}
.logo {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    font-family: var(--heading-font-family);
    padding: 1rem;
}
.logo span {
    font-family: inherit;
    color: #9fc0ff;
}
.beta-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
    user-select: none;
}
.beta-divider .divider {
    height: 1px;
    width: 100%;
    background: var(--highlight);
}
.beta-divider span:not(.divider) {
    text-transform: uppercase;
    letter-spacing: .05em;
    color: var(--gray);
}