.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    /* padding: 1rem; */
}
.header div .subscribe {
    font-weight: 600;
}
.header > h1 {
    font-weight: 700;
    font-size: 2rem;
}
.header > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header > div > a {
    background-image: linear-gradient(90deg,#4A00E0, #8E2DE2);
    background: royalblue;
    padding: .5rem 2rem;
    height: 3rem;
    max-width: 15rem;
    align-content: center;
    border-radius: 100vw;
    text-align: center;
    transition: padding .2s ease-in-out;
}
.header > div > .mobile-menu, .mobile-menu-close {
    display: grid;
    place-items: center;
    border-radius: 50%;
    max-width: 3rem;
    min-width: 3rem;
    height: 3rem;
    font-size: 1rem;
    background: royalblue;
    font-size: 1.5rem;
    margin-left: auto;
}
.header .mobile-menu {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    display: none !important;
}
.header .mobile-menu-close {
    position: relative;
}
.header .mobile-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
}
.header .mobile-menu-header a {
    font-family: var(--heading-font-family);
    font-size: 1.2rem;
}
.header .mobile-menu-header a span {
    font-family: inherit;
    color: #9fc0ff;
}
/* Mobile menu popup */
.mobile-menu-blur {
    position: fixed;
    top: 0;
    right: 0;
    background-image: linear-gradient(to bottom, hsl(230, 39%, 9%), hsl(230, 39%, 15%));
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    transform: translateX(100%);
    transition: transform .2s linear;
    outline: 3px solid var(--active);
    outline-offset: -.2rem;
    z-index: 10;
    overflow: auto;
    overscroll-behavior: contain;
    padding-bottom: 1rem;
}
.mobile-menu-blur.show {
    transform: translateX(0%);
}
.account-display-relative .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.account-display-relative img {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.account-access-links {
    display: flex;
    gap: .5rem;
    padding: 1rem;
    flex-wrap: wrap;
}
.account-access-links * {
    background: var(--hover);
    padding: .5rem 1rem;
    border-radius: 5px;
    flex-grow: 1;
    text-align: center;
}
.account-access-links .log-out {
    background: hsla(0, 100%, 50%, .125) !important;
}
.account-access-links .log-out:active {
    outline: 1px solid hsla(0, 100%, 50%, .25);
    outline-offset: -4px;
}
.username {
    margin-top: 1rem;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    font-weight: 500;
}
.account-title {
    text-transform: uppercase;
    background: #833AB4;
    background: linear-gradient(to right, #833AB4 0%, #FD1D1D 50%, #FCB045 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    margin-top: .5rem;
}
/* Forms */
.form-blur {
    position: fixed;
    top: 0;
    left: 0;
    background-image: radial-gradient(hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, 1));
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    padding: 1rem;
    display: grid;
    place-items: center;
    z-index: 3;
}
.form-blur form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: hsl(230, 38%, 13%);
    padding: 1rem;
    max-width: 30rem;
    width: 100%;
    max-height: 30rem;
    height: 100%;
    border-radius: 20px;
    position: relative;
    overflow: auto;
    overscroll-behavior: contain;
}
.form-blur form > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--hover);
}
.form-blur form h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}
.form-blur .form-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.form-blur .form-divider > span:not(.label) {
    height: 1px;
    width: 100%;
    background: var(--highlight);
}
.form-blur .form-divider span.label {
    min-width: max-content;
    text-align: center;
    color: var(--gray);
    font-family: var(--heading-font-family);
}
.form-blur .form-divider span.label > span {
    font-family: inherit;
    color: #9fc0ff;
}
.form-blur .close-form {
    display: grid;
    place-items: center;
    background: var(--hover);
    border-radius: 50%;
    max-width: 2rem;
    min-width: 2rem;
    height: 2rem;
}
.form-blur .input-grouping {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.form-blur .input-grouping:nth-child(2) {
    margin-top: 1rem;
}
.form-blur .input-grouping input {
    height: 3rem;
    border-radius: 5px;
    border: none;
    background: var(--hover);
    padding-left: .5rem;
    font-size: 1rem;
}
.form-blur .input-grouping input:focus {
    outline: none;
    box-shadow: 0 2px 0 var(--highlight);
}
.form-blur .input-grouping input::placeholder {
    color: var(--gray);
}
.form-blur .redirect {
    text-align: left;  
    width: fit-content;
    margin-top: auto;
}
.form-blur .redirect > span {
    color: #9fc0ff;
}
.form-blur .redirect:hover > span {
    text-decoration: underline;
}
.form-blur .form-submission {
    background-image: linear-gradient(90deg,#4A00E0, #8E2DE2);
    border-radius: 100vw;
    min-height: 3rem;
}
/* Primary Links */
.primary-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}
.primary-links a {
    min-height: 4rem;
    display: grid;
    place-items: center;
    background: var(--hover);
    width: 100%;
    transition: background .2s ease-in-out;
}
.primary-links a.active {
    background: var(--active);
}
.primary-links a:hover, .primary-links a:active, .primary-links a:focus-visible {
    background: var(--highlight);
}
.primary-links a:not(:last-child) {
    border-bottom: 1px solid var(--hover);
}
.primary-links a:first-child {
    border-radius: 10px 10px 0 0;
}
.primary-links a:last-child {
    border-radius: 0 0 10px 10px;
}

/* Search Content */
.search-content {
    padding: 0;
}
.search-content .searchHeader {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: .5rem;
}
.search-content .searchHeader > button {
    min-width: 3rem;
    max-width: 3rem;
    height: 3rem;
    border-radius: 10px;
    background: var(--highlight);
}
.search-content .search-form {
    position: relative;
    flex-grow: 1;
}
.search-content .search-form > div {
    display: flex;
    align-items: center;
}
.search-content .search-form > div:hover > button, .search-content .search-form > div:hover > input {
    background: rgba(255,255,255,.075);
} 
.search-content .search-form label {
    height: 0px;
    position: absolute;
    overflow: hidden;
    bottom: 1px;
    user-select: none;
    pointer-events: none;
}
.search-content .search-form button, .search-content .search-form input {
    background: rgba(255,255,255,.03);
    height: 3rem;
    transition: background .2s ease-in-out;
}
.search-content .search-form button {
    min-width: 3rem;
    max-width: 3rem;
    border-radius: 10px 0 0 10px;
    border-right: 1px solid rgba(255,255,255,.05);
}
.search-content .search-form button:focus {
    outline: 2px solid #fff;
    outline-offset: -4px;
    background: rgba(255,255,255,.075);
}
.search-content .search-form input {
    border: none;
    border-radius: 0 10px 10px 0;
    flex-grow: 1;
    padding-left: .5rem;
}
.search-content .search-form input:focus {
    outline: none;
    background: rgba(255,255,255,.075);
}
.search-content .main-content {
    padding: 1rem;
}
.search-content .main-content .title {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    position: relative;
}
.search-content .close-search-results {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 2rem;
    min-width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transition: background .2s ease-in-out;
}
.search-content .close-search-results:hover, .search-content .close-search-results:active, .search-content .close-search-results:focus-visible {
    background: var(--hover)
}
.search-content .close-search-results i {
    color: hsl(0, 100%, 65%);
}
.search-content .main-content .title > h2 {
    font-weight: 500;
    font-size: 1.5rem;
    font-family: "Assistant", sans-serif;
}
.search-content .main-content .number-of-friends-added {
    background: var(--hover);
    padding: .1rem 1rem;
    height: fit-content;
    border-radius: 100vw;
}
.search-content .main-content .no-friends-state {
    display: flex;
    gap: 1rem;
    align-items: center;
    text-align: center;
    user-select: none;
}
.search-content .main-content .no-friends-state * {
    color: var(--gray);
}
.search-content .main-content .no-friends-state i {
    font-size: 1.5rem;
    outline: 2px solid var(--active);
    border-radius: 50%;
    padding: .25rem;
}
.search-content .main-content .no-friends-state p {
    font-size: .95rem;
    text-align: left;
    text-wrap: pretty;
}
.search-content .main-content .results {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--hover);
}
.search-content .main-content .results .no-users-found {
    color: var(--gray);
    border-block: 1px solid var(--highlight);
    text-align: center;
    padding-block: 1rem;
}
.search-content .main-content .friends-state, .search-content .main-content .user-results {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media (min-width: 920px) {
    .mobile-menu-blur {
        display: none !important;
    }
}
@media(max-width: 920px) {
    .header > div > .mobile-menu {
        display: grid !important;
    }
    .header div .subscribe span {
        display: none !important;
    }
}
@media (max-width: 480px) {
    .header div .subscribe {
        display: none !important;
    }
}