.hero > .target-items {
    position: relative;
}
.hero .target-container {
    max-width: 100rem;
    width: 100%;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    padding: 1rem;
    overflow: auto;
    position: relative;
}
.hero .gradientSizingContainer {
    position: relative;
}
.hero .mainVisualGradient {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, hsl(230, 39%, 7%), hsla(230, 39%, 7%, .9), transparent);
    z-index: -1;
}
.hero .target-container > .active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    outline: 2px solid hsla(43, 74%, 49%, .5);
    outline-offset: -6px;
}
.gradient {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, hsla(230, 39%, 7%, 1), hsla(230, 39%, 7%, .7), rgba(0,0,0,.5));
    width: 100%;
    height: 100%;
    z-index: -1;
}
.carousel-tracker {
    display: flex;
    align-items: center;
    gap: .5rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
}
.dot {
    border-radius: 100vw;
    min-width: 16px;
    max-width: 16px;
    height: 16px;
    background: hsl(0, 0%, 25%);
    position: relative;
    overflow: hidden;
}
.dot.active {
    background: cornflowerblue;
}
@media (max-width: 1820px) {
    .hero .target-container {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 480px) {
    .hero .target-container {
        grid-template-columns: repeat(5,1fr);
    }
    .hero .target-container > * {
        min-width: 250px;
    }
}