.container {
    width: 100%;
}
.container img {
    border-radius: 10px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}
.container h3 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    font-size: 1rem;
    font-weight: 500;
}
.container > div {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
}
.remove-favorited {
    display: grid;
    place-items: center;
    margin-left: auto;
}