@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-size: 16px;
    --box-shadow: rgba(0, 0, 0, .2) 0px 2px 8px 0px;
    --heading-font-family: "Poppins", sans-serif;
    --special-font-family: "Figtree", sans-serif;
    --body-bg: hsl(230, 39%, 7%);
    --gray: hsl(0,0%, 70%);
    --active: hsla(230, 39%, 30%, .50);
    --hover: hsla(230, 39%, 30%, .25);
    --highlight: hsl(230, 39%, 30%);
}

*::before, *::after {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Assistant", sans-serif;
    text-decoration: none;
    color: #fff;
}
body {
  background: var(--body-bg);
}
.moving-grid-design {
    position: fixed;
    top: 0;
    left: 0;
    width: 200vw; /* 2x width */
    height: 200vh; /* 2x height */
    z-index: -9999;
    display: flex;
    flex-wrap: wrap;
    animation: movingGridDesign 120s linear infinite;
}

.moving-grid-design > * {
    width: 100vw;
    height: 100vh;
    background-image: 
        linear-gradient(hsl(230, 39%, 9%) 1px, transparent 1px),
        linear-gradient(90deg, hsl(230, 39%, 9%) 1px, transparent 1px);
    background-size: 40px 40px;
    background-position: 0 20px;
}

@keyframes movingGridDesign {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-100vw, -100vh);
    }
}


h1,h2,h3,h4,h5,h6 {
    font-family: var(--special-font-family);
}
p, a {
    line-height: 1.5;
    word-wrap: break-word; /* Add this to wrap long words */
    white-space: pre-wrap; /* Add this to preserve whitespace and wrap text */
    text-wrap: balance;
}
li {
    list-style-position: inside;
    line-height: 1.5;
}
img {
    max-width: 100%;
    display: block;
}
button {
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background: none;
}

/*---- Header Section ----*/
header {
    --height: ;
}

/*---- Footer Section ----*/
footer {
    --height: ;
}

/*---- Scrollbar ----*/
::-webkit-scrollbar {
   display: none;
}
::-webkit-scrollbar-track {
    display: none;
}
::-webkit-scrollbar-thumb {
    display: none;
}

/*---- Layout ----*/
.grid-auto-fill {
    --grid-min-col-size: 300px;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(var(--grid-min-col-size), 100%), 1fr));
    gap: 1rem;
}

/*---- Line Clamp ----*/
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    /* height: 7.5ex;
    line-height: 2.5ex; */
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

/*---- Hard Coded ----*/
.visually-hidden {
    position: absolute;
    user-select: none;
    pointer-events: none;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
}
/* Keyframes */
.animate-onView {
    visibility: hidden;
}
@keyframes onView {
    0% {
        transform: scale(0);
        opacity: .5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
/* Hero Images */
.homepage-banner-positioning {
    background-position: center;
    background-size: cover;
}
.homepage-farcry-6-banner-img {
    background-image: linear-gradient(to top, hsla(230, 39%, 7%, 1), hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, .9)), url('/home/far-cry-6.webp');
}
.homepage-ac-shadows-banner-img {
    background-image: linear-gradient(to top, hsla(230, 39%, 7%, 1), hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, .9)), url('/home/ac-shadows.webp');
}
.homepage-r6-banner-img {
    background-image: linear-gradient(to top, hsla(230, 39%, 7%, 1), hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, .9)), url('/home/r6.webp');
}
.homepage-ac-mirage-banner-img {
    background-image: linear-gradient(to top, hsla(230, 39%, 7%, 1), hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, .9)), url('/home/ac-mirage.webp');
}
.storepage-rainbow-six-siege-banner-img {
    background-image: linear-gradient(to top, hsla(230, 39%, 7%, 1), hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, .9)), url('/store/rainbow-six-siege.webp');
}
.storepage-deal-banner-img {
    background-image: linear-gradient(to top, hsla(230, 39%, 7%, 1), hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, .9)), url('/store/deal.webp');
}
.storepage-the-division-2-banner-img {
    background-image: linear-gradient(to top, hsla(230, 39%, 7%, 1), hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, .9)), url('/store/the-division-2.webp');
}
.storepage-anno-117-banner-img {
    background-image: linear-gradient(to top, hsla(230, 39%, 7%, 1), hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, .9)), url('/store/anno-117.webp');
}
.storepage-100plus-games-banner-img {
    background-image: linear-gradient(to top, hsla(230, 39%, 7%, 1), hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, .9)), url('/store/100plus-games.webp');
}
@media(max-width: 920px) {
    .homepage-farcry-6-banner-img {
        background-image: linear-gradient(to top, hsla(230, 39%, 7%, 1), hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, 1)), url('/home/far-cry-6.webp');
    }
    .homepage-ac-shadows-banner-img {
        background-image: linear-gradient(to top, hsla(230, 39%, 7%, 1), hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, 1)), url('/home/ac-shadows.webp');
    }
    .homepage-r6-banner-img {
        background-image: linear-gradient(to top, hsla(230, 39%, 7%, 1), hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, 1)), url('/home/r6.webp');
    }
    .homepage-ac-mirage-banner-img {
        background-image: linear-gradient(to top, hsla(230, 39%, 7%, 1), hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, 1)), url('/home/ac-mirage.webp');
    }
    .storepage-rainbow-six-siege-banner-img {
        background-image: linear-gradient(to top, hsla(230, 39%, 7%, 1), hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, 1)), url('/store/rainbow-six-siege.webp');
    }
    .storepage-deal-banner-img {
        background-image: linear-gradient(to top, hsla(230, 39%, 7%, 1), hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, 1)), url('/store/deal.webp');
    }
    .storepage-the-division-2-banner-img {
        background-image: linear-gradient(to top, hsla(230, 39%, 7%, 1), hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, 1)), url('/store/the-division-2.webp');
    }
    .storepage-anno-117-banner-img {
        background-image: linear-gradient(to top, hsla(230, 39%, 7%, 1), hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, 1)), url('/store/anno-117.webp');
    }
    .storepage-100plus-games-banner-img {
        background-image: linear-gradient(to top, hsla(230, 39%, 7%, 1), hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, 1)), url('/store/100plus-games.webp');
    }
}

/* Hero Targeter Images */
.herotargeter-positioning {
    background-size: cover;
    background-position: center;
}
.homepage-farcry-6-herotargeter-img {
    background-image: url('/home/far-cry-6.webp');
}
.homepage-ac-shadows-herotargeter-img{
    background-image: url('/home/ac-shadows.webp');
}
.homepage-r6-herotargeter-img {
    background-image: url('/home/r6.webp');
}
.homepage-ac-mirage-herotargeter-img {
    background-image: url('/home/ac-mirage.webp');
}
.storepage-rainbow-six-siege-herotargeter-img {
    background-image: url('/store/rainbow-six-siege.webp');
}
.storepage-deal-herotargeter-img {
    background-image: url('/store/deal.webp');
}
.storepage-the-division-2-herotargeter-img {
    background-image: url('/store/the-division-2.webp');
}
.storepage-anno-117-herotargeter-img {
    background-image: url('/store/anno-117.webp');
}
.storepage-100plus-games-herotargeter-img {
    background-image: url('/store/anno-117.webp');
}

#main-layout {
    display: flex;
}
main {
    width: 100%;
    overflow: hidden;
}
.main-content-section {
    margin-block: 5rem;
    max-width: 110rem;
    width: 100%;
    margin: 5rem auto;
}
.main-content-section > .main-content-section-title {
    padding: 0 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0 1rem;
}
.main-content-section.vertical > .main-content-section-grid, .main-content-section.vertical .main-content-section-title {
    margin: 0 auto;
}
.main-content-section > .main-content-section-title a {
    font-size: 1rem;
    color: hsl(225, 73%, 70%);
    text-decoration: underline;
}
.main-content-section .main-content-section-grid {
    padding: 1rem;
}
.main-content-section .main-content-section-grid.grid-2 { 
    --grid-min-col-size: 250px;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-min-col-size), 100%), 1fr));
    gap: 1rem;
}
.main-content-section .main-content-section-grid.grid-3 {
    --grid-min-col-size: 215px;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-min-col-size), 100%), 1fr));
    gap: 1rem;
}
.main-content-section .main-content-section-grid.grid-3.browse {
    --grid-min-col-size: 400px;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-min-col-size), 100%), 1fr));
    gap: 1rem;
}
.main-content-section .main-content-section-grid.grid-4 {
    --grid-min-col-size: 215px;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-min-col-size), 100%), 1fr));
    gap: 1rem;
}
.main-content-section .main-content-section-grid.grid-5 {
    --grid-min-col-size: 215px;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-min-col-size), 100%), 1fr));
    gap: 1rem;
}
.main-content-section .main-content-section-grid.grid-6 {
    --grid-min-col-size: 180px;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-min-col-size), 100%), 1fr));
    gap: 1rem;
}
@media (max-width: 480px) {
    .main-content-section .main-content-section-grid {
        display: flex !important;
        overflow: auto;
    }
    .main-content-section .main-content-section-grid > * {
        min-width: 250px;
    }
}
.login-plus-signup {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}
.login-plus-signup > button {
    flex-grow: 1;
    text-align: center;
    border-radius: 5px;
    padding: .5rem;
}
.open-login-dialog {
    background: var(--hover);
}
.open-signup-dialog {
    background: royalblue;
}

.add-to-library-btn {
    max-width: 3rem;
    min-width: 3rem;
    height: 3rem;
    border-radius: 100vw;
    background: hsl(225, 73%, 57%);
    color: #fff;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    outline: 2px solid hsl(225, 73%, 33%);
    outline-offset: -4px;
    transition: background .2s ease-in-out, transform .5ms linear;
    display: none;

    &:hover {
        background: hsl(225, 73%, 50%);
    }
}
.add-to-library-btn:active {
    transform: scale(.95)
}
.main-content-child:hover > .add-to-library-btn {
    display: grid;
}
@media (max-width: 480px) {
    .add-to-library-btn {
        display: grid;
    }
}

/* Infinite Marquee Styling */
.position-absolute-marquee{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    user-select: none;
    pointer-events: none;
}
.marquee {
    display: flex;
    /* gap: 1rem; */
    overflow: clip;
    position: relative;
}
.marquee-content {
    display: flex;
    justify-content: space-around;
    /* min-width: 100vw; */
    flex-shrink: 0;
    /* gap: 1rem; */
    animation: infinite-marquee 60s linear infinite;
}
.marquee-content {
    animation: infinite-marquee 30s linear infinite;
}
.marquee-content img {
    object-fit: cover;
    object-position: top;
    transition: height .175s ease-in-out, width .175s ease-in-out;
    height: 320px;
    opacity: .0275;
    border-radius: 20px 20px 0 0;
}
@keyframes infinite-marquee {
    from {
      transform: translateX(0);
    }
    to {
      /* transform: translateX(calc(-100% - 1rem)); */
        transform: translateX(calc(-100%));
    }
}
@media(max-width: 1440px) {
    main .marquee-content img {
        height: 296px;
        width: 100%;
    }
}

