.form-message {
    padding: .5rem 1rem;
    border-radius: 5px;
    text-align: center;

}
.form-message p {
    text-wrap: pretty !important;
}
.form-message.success {
    background: hsl(120, 61%, 10%);
    outline: 1px solid hsla(120, 61%, 50%, .5);
}
.form-message.error {
    background: hsl(0, 100%, 10%);
    outline: 1px solid hsla(0, 100%, 50%, .5);
}