.container {
    border-radius: 10px;
    background: var(--hover);
    transition: transform .2s ease-in-out;
    display: flex;
    flex-direction: column;
}
.container:hover, .container:active, .container:focus-visible {
    transform: translateY(-5px);
}
.img {
    border-radius: 10px 10px 0 0;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
}
.container > div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    border-radius: 0 0 10px 10px;
    transition: background .2s ease-in-out;
    height: 100%;
}
.container:hover > div, .container:active > div, .container:focus-visible > div {
    background: var(--active);
}
.tag {
    position: absolute;
    top: 0;
    transform: translateY(calc(-100% + -1rem));
    background: #fff;
    padding: 0 1rem;
    height: 1.75rem;
    color: #000;
    align-content: center;
    font-family: var(--special-font-family);
    border-radius: 5px;
    font-weight: 600;
    font-size: .8rem;
}
.title, .subTitle {
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    font-family: var(--special-font-family);
}
.title {
    font-weight: 500;
}
.subTitle {
    color: var(--gray);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
}
.des {
    color: var(--gray);
}
.price {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1rem 0 0 auto;
}
.cta {
    background: royalblue;
    border-radius: 100vw;
    padding: 0 2rem;
    height: 2.5rem;
    align-content: center;
    text-align: center;
    margin-top: 1rem;
    margin-right: auto;
}
.date {
    color: var(--gray);
    margin-top: 1rem;
    padding-left: .75rem;
    height: 1.75rem;
    color: hsl(219, 100%, 81%);
    align-content: center;
    font-family: var(--special-font-family);
    border-radius: 5px;
    font-weight: 600;
    position: relative;
    font-size: .8rem;
    text-transform: uppercase;
}
.date::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    background: hsl(219, 100%, 81%);
    width: 4px;
    height: 50%;
    transform: translateY(-50%);
    border-radius: 100vw;
}