.container {
    border-radius: 10px;
    background: var(--hover);
    transition: transform .2s ease-in-out;
    position: relative;
}
.container:hover, .container:active, .container:focus-visible {
    transform: translateY(-5px);
}
.img {
    border-radius: 10px 10px 0 0;
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
}
.container > div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    border-radius: 0 0 10px 10px;
    transition: background .2s ease-in-out;
}
.container:hover > div, .container:active > div, .container:focus-visible > div {
    background: var(--active);
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .5rem;
}
.tag {
    padding-left: .5rem;
    height: 1.75rem;
    color: hsl(219, 100%, 81%);
    align-content: center;
    font-family: var(--special-font-family);
    border-radius: 5px;
    font-weight: 600;
    position: relative;
    font-size: .8rem;
    text-transform: uppercase;
}
.tag::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    background: hsl(219, 100%, 81%);
    width: 4px;
    height: 50%;
    transform: translateY(-50%);
    border-radius: 100vw;
}
.title {
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    font-weight: 500;
}
.des {
    color: var(--gray);
}
.price {
    font-size: 1.2rem;
    font-weight: 700;
}