.container {
    transition: transform .2s ease-in-out, background .2s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.container:hover, .container:active, .container:focus-visible {
    transform: translateY(-5px);
    background: var(--active);
}
.container .imgRelative {
    position: relative;
    border-radius: 10px 10px 0 0;
}
.container .gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, .5), transparent);
}
.container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top center;
    border-radius: 10px 10px 0 0;
    aspect-ratio: 16 / 9;
    max-height: 300px;
}
.container .imgText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 1px 1px 0 black;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    width: 100%;
    padding: 1rem;
}
.container .tab {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 0 20px 0;
    background: royalblue;
    padding: 0 2rem;
    height: 2.25rem;
    font-size: 1rem;
    font-weight: 500;
    align-content: center;
    font-family: var(--special-font-family);
}
.container h3 {
    font-size: 1rem;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    height: 5ex;
    line-height: 2.5ex;
    line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    align-content: center;
    text-align: center;
    text-wrap: pretty;
}
.container > .info {
    padding: 1rem;
    background: var(--hover);
    border-radius: 0 0 10px 10px;
    position: relative;
}