.container {
    height: 37.5rem;
    padding: 1rem;
    transition: height .2s ease-in-out;
}
.container > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    z-index: -2;
}
.content-grouping {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.gameTitle {
    text-transform: uppercase;
    color: var(--gray);
    font-weight: 700;
}
.title {
    font-size: 3rem;
    line-height: 1.25;
    max-width: 80rem;
    width: 100%;
    text-wrap: pretty !important;
}
.des {
    max-width: 50rem;
    width: 100%;
    font-size: 1rem;
}
.cta {
    min-height: 3rem;
    padding: 0 2rem;
    background: royalblue;
    border-radius: 100vw;
    align-content: center;
    text-align: center;
    font-family: var(--heading-font-family);
}
.warning {
    max-width: 30rem;
    font-size: 1rem;
    color: var(--gray);
    width: 100%;
}

@media(max-width: 920px) {
    .title {
        font-size: 2rem;
        max-width: 40rem;
    }
    .des {
        max-width: 30rem;
        font-size: 1rem;
    }
    .warning {
        max-width: 20rem;
        font-size: .8rem;
    }
}
@media(max-width: 480px) {
    .container {
        height: 25rem;
    }
    .title {
        font-size: 1.5rem;
    }
}
