.container {
    transition: transform .2s ease-in-out;
    position: relative;
    display: flex;
    align-items: center;
    padding: .5rem;
    height: 5rem;
    gap: .5rem;
}
.container:hover, .container:active, .container:focus-visible {
    transform: translateY(-5px);
}
.container > img {
    width: 120px;
    height: auto;
    object-fit: cover;
    object-position: center;
    transition: width .175s ease-in-out, height .175s ease-in-out;
}
.container > img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}
.container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, hsla(228, 41%, 13%, .975), hsla(228, 41%, 13%, .9), hsla(228, 41%, 13%, .975));
    width: 100%;
    height: 100%;
} 
.container h3 {
    font-size: .875rem;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    height: 5ex;
    line-height: 2.5ex;
    line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    align-content: center;
    text-align: center;
    text-wrap: pretty;
    margin: 0 auto;
    z-index: 1;
}