.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}
.header > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header > div > a {
    background-image: linear-gradient(90deg,#4A00E0, #8E2DE2);
    padding: .5rem 2rem;
    height: 3rem;
    max-width: 15rem;
    align-content: center;
    border-radius: 100vw;
    text-align: center;
    transition: padding .2s ease-in-out;
}
.header > div > .mobile-menu, .mobile-menu-close {
    display: grid;
    place-items: center;
    border-radius: 50%;
    max-width: 3rem;
    min-width: 3rem;
    height: 3rem;
    font-size: 1rem;
    background: var(--hover);
    font-size: 1.5rem;
}
.header .mobile-menu {
    display: none !important;
}
.header .mobile-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
}
.header .mobile-menu-header a {
    font-family: var(--heading-font-family);
    font-size: 1.2rem;
}
.header .mobile-menu-header a span {
    font-family: inherit;
    color: #9fc0ff;
}
/* Mobile menu popup */
.mobile-menu-blur {
    position: fixed;
    top: 0;
    right: 0;
    background-image: linear-gradient(to top, hsla(230, 39%, 5%, 1), hsla(230, 39%, 10%, 1));
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    transform: translateX(100%);
    transition: transform .2s linear;
    outline: 2px solid var(--hover);
    outline-offset: -.5rem;
}
.mobile-menu-blur.show {
    transform: translateX(0%);
}
.account-display-relative .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.account-display-relative img {
    border-radius: 50%;
}
.account-access-links {
    display: flex;
    gap: .5rem;
    padding: 1rem;
    flex-wrap: wrap;
}
.account-access-links * {
    background: var(--hover);
    padding: .5rem 1rem;
    border-radius: 5px;
    flex-grow: 1;
    text-align: center;
}
.account-access-links .log-out {
    background: var(--hover) !important;
}
.username {
    margin-top: 1rem;
}
/* Forms */
.form-blur {
    position: fixed;
    top: 0;
    left: 0;
    background-image: radial-gradient(hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, 1));
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    padding: 1rem;
    display: grid;
    place-items: center;
}
.form-blur form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: hsl(230, 38%, 13%);
    padding: 1rem;
    max-width: 30rem;
    width: 100%;
    max-height: 40rem;
    height: 100%;
    border-radius: 20px;
    position: relative;
    overflow: auto;
    overscroll-behavior: contain;
}
.form-blur form > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-blur form h2 {
    text-align: center;
    font-size: 2rem;
}
.form-blur .form-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.form-blur .form-divider > span:not(.label) {
    height: 1px;
    width: 100%;
    background: var(--highlight);
}
.form-blur .form-divider span.label {
    min-width: max-content;
    text-align: center;
    color: var(--gray);
    font-family: var(--heading-font-family);
}
.form-blur .form-divider span.label > span {
    font-family: inherit;
    color: #9fc0ff;
}
.form-blur .close-form {
    display: grid;
    place-items: center;
    background: var(--hover);
    border-radius: 50%;
    max-width: 2rem;
    min-width: 2rem;
    height: 2rem;
}
.form-blur .input-grouping {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.form-blur .input-grouping:nth-child(3) {
    margin-top: 2rem;
}
.form-blur .input-grouping input {
    height: 3rem;
    border-radius: 5px;
    border: none;
    background: var(--hover);
    padding-left: .5rem;
    font-size: 1rem;
}
.form-blur .input-grouping input:focus {
    outline: none;
    box-shadow: 0 2px 0 var(--highlight);
}
.form-blur .input-grouping input::placeholder {
    color: var(--gray);
}
.form-blur .redirect {
    text-align: left;  
    width: fit-content;
    margin-top: auto;
}
.form-blur .redirect > span {
    color: #9fc0ff;
}
.form-blur .redirect:hover > span {
    text-decoration: underline;
}
.form-blur .form-submission {
    background-image: linear-gradient(90deg,#4A00E0, #8E2DE2);
    border-radius: 100vw;
    min-height: 3rem;
}
@media (min-width: 870px) {
    .mobile-menu-blur {
        display: none !important;
    }
}
@media(max-width: 870px) {
    .header > div > .mobile-menu {
        display: grid !important;
    }
}
@media (max-width: 480px) {
    .header div .subscribe {
        display: none !important;
    }
}