.form-blur {
    position: fixed;
    top: 0;
    left: 0;
    background-image: radial-gradient(hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, 1));
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    padding: 1rem;
    display: grid;
    place-items: center;
}
.form-blur form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: hsl(230, 38%, 13%);
    padding: 1rem;
    max-width: 30rem;
    width: 100%;
    max-height: 40rem;
    height: 100%;
    border-radius: 20px;
    position: relative;
    overflow: auto;
    overscroll-behavior: contain;
}
.form-blur form > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-blur form h2 {
    text-align: center;
    font-size: 2rem;
}
.form-blur .form-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.form-blur .form-divider > span:not(.label) {
    height: 1px;
    width: 100%;
    background: var(--highlight);
}
.form-blur .form-divider span.label {
    min-width: max-content;
    text-align: center;
    color: var(--gray);
    font-family: var(--heading-font-family);
}
.form-blur .form-divider span.label > span {
    font-family: inherit;
    color: #9fc0ff;
}
.form-blur .close-form {
    display: grid;
    place-items: center;
    background: var(--hover);
    border-radius: 50%;
    max-width: 2rem;
    min-width: 2rem;
    height: 2rem;
}
.form-blur .input-grouping {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.form-blur .input-grouping:nth-child(3) {
    margin-top: 2rem;
}
.form-blur .input-grouping input {
    height: 3rem;
    border-radius: 5px;
    border: none;
    background: var(--hover);
    padding-left: .5rem;
    font-size: 1rem;
}
.form-blur .input-grouping input:focus {
    outline: none;
    box-shadow: 0 2px 0 var(--highlight);
}
.form-blur .input-grouping input::placeholder {
    color: var(--gray);
}
.form-blur form > p > span {
    color: #9fc0ff;
    font-style: inherit;
}
.form-blur .redirect:hover > span {
    text-decoration: underline;
}
.form-blur .form-submission {
     margin-top: auto;
    background-image: linear-gradient(90deg,#4A00E0, #8E2DE2);
    border-radius: 100vw;
    min-height: 3rem;
}