.form-blur {
    position: fixed;
    top: 0;
    left: 0;
    background-image: radial-gradient(hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, .9), hsla(230, 39%, 7%, 1));
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    padding: 1rem;
    display: grid;
    place-items: center;
    z-index: 9999;
}
.form-blur form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: hsl(230, 38%, 13%);
    padding: 1rem;
    max-width: 30rem;
    width: 100%;
    max-height: 40rem;
    height: 100%;
    border-radius: 20px;
    position: relative;
    overflow: auto;
    overscroll-behavior: contain;
}
.form-blur form > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 0 1rem;
}
.form-blur form h2 {
    text-align: center;
    font-size: 2rem;
}
.form-blur .form-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.form-blur .form-divider > span:not(.label) {
    height: 1px;
    width: 100%;
    background: var(--highlight);
}
.form-blur .form-divider span.label {
    min-width: max-content;
    text-align: center;
    color: var(--gray);
    font-family: var(--heading-font-family);
}
.form-blur .form-divider span.label > span {
    font-family: inherit;
    color: #9fc0ff;
}
.form-blur .close-form {
    display: grid;
    place-items: center;
    background: var(--hover);
    border-radius: 50%;
    max-width: 2rem;
    min-width: 2rem;
    height: 2rem;
}
.form-blur form > .grid {
    --grid-min-col-size: 125px;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(var(--grid-min-col-size), 100%), 1fr));
    gap: 1rem;
}
.form-blur form > .grid > button {
    border-radius: 20px;
}
.form-blur form > .grid > button:focus {
    outline: 3px solid var(--highlight);
    outline-offset: 6px;
}
.form-blur form > .grid img {
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
    width: 100%;
}
.form-blur form > p {
    text-align: left;  
    width: fit-content;
    margin-top: auto;
    font-style: italic;
    color: var(--gray);
}
.form-blur form > p > span {
    color: #9fc0ff;
    font-style: inherit;
}
.form-blur .form-submission {
    background-image: linear-gradient(90deg,#4A00E0, #8E2DE2);
    border-radius: 100vw;
    min-height: 3rem;
    margin-top: auto;
}