.grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1rem;
    padding: 1rem;
}
.no-favorites-state {
    padding: 0 1rem;
}
.no-favorites-state > div {
    border: 1px solid var(--active);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    border-radius: 10px;
    padding: 1.5rem 1rem 2rem 1rem;
}
.no-favorites-state img {
    max-width: 20rem;
    width: 100%;
}
.no-favorites-state p {
    color: var(--gray);
}
.no-favorites-state a {
    background: royalblue;
    height: 2.5rem;
    padding: 0 2rem;
    border-radius: 100vw;
    align-content: center;
}
.msg-prompt {
    position: fixed;
    top: 1rem;
    right: 1rem;
    max-width: max-content;
}
@media (max-width: 1680px) {
    .grid {
        grid-template-columns: repeat(4,1fr);
    }
}
@media (max-width: 780px) {
    .grid {
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width: 590px) {
    .grid {
        grid-template-columns: repeat(2,1fr);
    }
}